batchgenerators==0.25
itk==5.4.0
lightning==2.3.0
monai==1.1.0
matplotlib==3.9.0
nibabel==5.2.1
nnunet==1.7.0
omegaconf==2.3.0
scipy==1.14.0
SimpleITK==2.3.1
tqdm==4.66.4
torchvision==0.18.1
# rootutils
# FOR monai ko error handling caused by openslider we install the monai important libraries manually
# monai[all]==1.1.0
scikit-image==0.24.0
scipy==1.14.0
pillow==10.3.0
tqdm==4.66.4
lmdb==1.4.1
psutil==6.0.0
cucim==23.10.0
pandas==2.2.2
einops==0.8.0
tifffile==2024.6.18
imagecodecs==2024.6.1
PyYAML==6.0.1
fire==0.6.0
jsonschema==4.22.0
ninja==1.11.1.1
pynrrd==1.0.0
pydicom==2.4.4
h5py==3.11.0
nni==3.0
optuna==3.6.1
nvidia-ml-py==12.555.43